@font-face{
    font-family: karla;
    src: url(Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(Karla/Karla-Bold.ttf);
}

.search{
    font-family: karla;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 10px;
    font-size: 26px;
}
