@font-face{
    font-family: karla;
    src: url(../../Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(../../Karla/Karla-Bold.ttf);
}

body{
    padding: 0;
    margin: 0;
}

html{
    background-color: lightgray;
}

.search{
    font-family: karla;
    text-transform: uppercase;
    padding: 12px;
    margin-left: 10px;
    font-size: 26px;
    border: none;
    outline: none;
    background-color:lightgray;
    color: black;
}

.menu{
    font-family: karla;
    text-transform: uppercase;
    font-size: 26px;
    padding: 10px;
    margin-right: 10px;
    float: right;
    color: grey;
    cursor: pointer;
}

.top{
    
     padding: 10px;
}

.searchDrop{
    position: relative;
    top: 0;
    left: -200px;
    margin:0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 200px;
    min-height: 1vh;
    transition: 0.5s;
    z-index: 10000;
    overflow-y: auto; 
}

.searchResult{
 font-family: karla;
 font-size: 20px;
 padding: 10px;
}

.hasRes{
    left: 0px;
}

.dropbtn {
    background-color: transparent;
    color: grey;
    font-family: karla;
    padding: 16px;
    font-size: 26px;
    border: none;
    text-transform:uppercase;
    cursor: pointer;
  }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  a:hover {
    background-color: #f1f1f1
  }
}
  
.dropdown:hover{
  .dropdown-content {
    display: block;
  }

  .dropbtn {
    background-color: whitesmoke;
  }
}