@font-face{
    font-family: karla;
    src: url(../../Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(../../Karla/Karla-Bold.ttf);
}
@font-face{
  font-family: lemon;
  src: url(../../Karla/GoboldR.otf);
}

$vit: #EDF5E1;
$gul: rgb(247, 147, 30);
$orange: rgb(241, 90, 36);
$svart: rgb(26, 26, 26);
$win:#332F2E;
//-------------------------------------------------------------------------------//

html{
  background-image: url(../../Karla/BGB.png);
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed;       
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%; 
}

main{
  max-height: 200vh;
}

input{
  width: 250px;
}

a{
  color: $svart;
}

li{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 40px;
}

li a{
  color: $svart;
}

input::placeholder{
  color: $orange;
}
//-------------------------------------------------------------------------------//

.search{
  font-family: karla;
  text-transform: uppercase;
  padding: 12px;
  font-size: 26px;
  border: none;
  outline: none;
  background: none;
  padding-left: 15px;
  transition: .5s;
  color: $orange;
}

.search:focus{
  background-color: $orange;
  color: $svart;
  padding-right: 10px;
  transition: .5s;
}

.menu{
  font-family: karla;
  text-transform: uppercase;
  font-size: 26px;
  padding: 10px;
  margin-right: 10px;
  float: right;
  cursor: pointer;
}

.top{
  position: relative;
  padding: 10px;
  padding-left: 0;
  padding-top: 0;
}

.searchDrop{
  position: absolute;
  left: -300px;
  margin:0;
  box-sizing: border-box;
  width: 250px;
  min-height: 1vh;
  transition: 0.5s;
  z-index: 10000;
  overflow-y: auto; 
  max-height: 300px;
  overflow-x: hidden;
  background-color: $orange;
  border-top: $gul 4px solid;
    
}

::-webkit-scrollbar {
  display: none;
}

.searchResult{
  font-family: karla;
  font-size: 20px;
  padding: 10px;
 
}

a:hover{
  color: black;
}

.hasRes{
  left: 0px;
}

.dropbtn {
  background-color: transparent;
  color: $orange;
  font-family: karla;
  padding: 16px;
  font-size: 26px;
  border: none;
  text-transform:uppercase;
  cursor: pointer;
  outline: none;
  cursor: default;
  }

.dropdown {
  float: right;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: $orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: karla;
  border-radius: 0;
 
  .item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color:transparent ;   
    font-family: karla;
    font-size: 20px;
    color: $svart;
    min-width: 160px;
    text-align: left;
    outline: none;
  }

  .item:hover {
    background-color: $win;
    cursor: pointer;
    color:$orange;
  }
}
  
.dropdown:hover{
  .dropdown-content {
    display: block;
    right: 0;
}

  .dropbtn {
    transition: .3s;
    color:$svart;
    background-color: $orange;
  }
}
//-------------------------------------------------------------------------------//

@media only screen and (max-width: 1600px) {

  .searchDrop{
    background-color: $orange;
  }

}

@media only screen and (max-width: 500px){
    .search{
      font-size: 20px;
    }

    input{
      width: 230px;
    }

    .dropbtn{
      font-size: 20px;
    }

    .item{
      font-size: 14px;
    }

    .searchResult{
      font-size: 14px;

    }

    .searchDrop{
      width: 140px;
    }
   
  }

@media only screen and (max-width: 1125px){
  html{
    background-image: url(../../Karla/BGS.png);
    background-attachment: local;
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;       
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100vw;  
  }
}

@media only screen and (max-width: 1100px){
  .top{
    background-color: $win;
  }
}

@media only screen and (max-width: 350px){
  .search{
    width: 200px;
  }

  }
//-------------------------------------------------------------------------------//

