$primary-font-color: white;
$primary-window-color: rgba($color: #000000, $alpha: 0.75);

$accent: #EB3501;

$vit: #EDF5E1;
$bla: #05386B;
$Lgron: #8ee4af;
$gron: #5CDB85;
$Mgron: #379683;

$gul: rgb(247, 147, 30);
$orange: rgb(241, 90, 36);
$svart: rgb(26, 26, 26);
$win:#332F2E;



@font-face{
    font-family: karla;
    src: url(../../Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(../../Karla/Karla-Bold.ttf);
}
@font-face{
  font-family: lemon;
  src: url(../../Karla/GoboldR.otf);
}



html{
    background-image: url(../../Karla/BGB.png);
    background-attachment: fixed;
}

main{
  max-height: 200vh;
}


// .bgcontainer{
//   height: 100%;
//   display: block;
//   z-index: -1;
//   overflow: hidden;
//   max-height: 200px;
// }

// .bgBox{
//   background-color: $gron;
//   height: 400px;
//   width: 150vw;
//   margin-top: 0px;
//   position: fixed;
//   z-index: -1;
//   transform: rotate(45deg);
// }

// .mgBox{
//   background-color: $Mgron;
//   height: 200px;
//   width: 150vw;
//   margin-top: 0px;
//   position: fixed;
//   z-index: -1;
  
// }

// .bbgBox{
//   left: -100vw;
//   margin-top: 110vw;
//   background-color: $gron;
//   height: 400px;
//   width: 400vw;
//   position: fixed;
//   z-index: -1;
//   transform: rotate(45deg);
// }

// .mmgBox{
//   background-color: $Mgron;
//   height: 200px;
//   width: 200vw;
//   margin-top: 0px;
//   position: fixed;
//   z-index: -1;
// }

input{
  width: 250px;
}

.search{
    font-family: karla;
    text-transform: uppercase;
    padding: 12px;
    font-size: 26px;
    border: none;
    outline: none;
    background: none;
    padding-left: 15px;
    transition: .5s;
    color: $orange;
}

.search:focus{
  background-color: $orange;
  color: $svart;
  padding-right: 10px;
  transition: .5s;
}

input::placeholder{
  color: $orange;
}


.menu{
    font-family: karla;
    text-transform: uppercase;
    font-size: 26px;
    padding: 10px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
}

.top{
    position: relative;
     padding: 10px;
     padding-left: 0;
     padding-top: 0;
}

.searchDrop{
    position: absolute;
    left: -300px;
    margin:0;
    box-sizing: border-box;
    width: 250px;
    min-height: 1vh;
    transition: 0.5s;
    z-index: 10000;
    overflow-y: auto; 
    max-height: 300px;
    overflow-x: hidden;
    background-color: $orange;
    border-top: $gul 4px solid;
    
}

::-webkit-scrollbar {
  width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $gul; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(71, 69, 69); 
  display: block;
}

li{
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 40px;
}

li a{
  color: $svart;
}

.searchResult{
 font-family: karla;
 font-size: 20px;
 padding: 10px;
 
}

a:hover{
  color: black;
}



.hasRes{
    left: 0px;
}

.dropbtn {
    background-color: transparent;
    color: $orange;
    font-family: karla;
    padding: 16px;
    font-size: 26px;
    border: none;
    text-transform:uppercase;
    cursor: pointer;
    outline: none;
    cursor: default;
    
  }

.dropdown {
  float: right;
  // position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $orange;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: karla;
  border-radius: 0;
 
  
  
  .item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background-color:transparent ;   
    font-family: karla;
    font-size: 20px;
    color: $svart;
    min-width: 160px;
    text-align: left;
    outline: none;
  }


  .item:hover {
    background-color: $win;
    cursor: pointer;
    color:$orange;
  }
}
  
.dropdown:hover{
  .dropdown-content {
    display: block;
  right: 0;
  }

  .dropbtn {
    transition: .3s;
    color:$svart;
    background-color: $orange;
  }
}

a{
  color: $svart;
}

// input svg,
// input svg rect{
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   fill:transparent;
// }

// a svg rect{
//   stroke: $orange;
//   stroke: 4;
//   transition: 1s;
//   stroke-dasharray: 60 200;

// }



@media only screen and (max-width: 1600px) {

  .searchDrop{
    background-color: rgba($color: #3B3537, $alpha: 0.95);
    border: #EB3501 solid 2px;
    border-radius: 20px;
  }


  @media only screen and (max-width: 500px){
    .search{
      font-size: 20px;
    }

    input{
      width: 230px;
    }

    .dropbtn{
      font-size: 20px;
    }

    .item{
      font-size: 14px;
    }

    .searchResult{
      font-size: 14px;

    }

    .searchDrop{
      width: 140px;
    }
   
  }

 
  }


