@font-face{
    font-family: karla;
    src: url(../../Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(../../Karla/Karla-Bold.ttf);
}
@font-face{
  font-family: lemon;
  src: url(../../Karla/GoboldR.otf);
}

$vit: #EDF5E1;
$gul: rgb(247, 147, 30);
$orange: rgb(241, 90, 36);
$svart: rgb(26, 26, 26);
$win:#332F2E;
//-------------------------------------------------------------------------------//

.Credwrap{
    margin-top:10vw;
    background-color: $win;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 100px;
}

.label{
    color: $vit;
}

.input, .input:focus{
    outline: 0;
    -webkit-appearance:none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline:0;
    border-bottom-color: $vit;
}

.input{
    background-color: $win;
    outline: none;
    border:none;
    border-bottom: 2px solid $vit;
    border-radius: 0;
    margin-bottom: 30px;
    color: $vit;
    padding-left: 0;
    transition: 0.5s;
    font-family: karla;
    font-size: 20px;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}

.label{
    font-family: karla;
}

#token-status{
    margin-bottom: 10px;
    font-family: karla;
}

#token-status a{
    color: $orange;
}

.input::placeholder{
    color: $vit;
    font-size: 1em;
    font-family: Karla;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba($color: #ffff, $alpha: 0.4);
    transition: 1s;
}

.input:hover{
    transform: scale(1.01);
    transition: 0.5s;
    border-bottom-color: $orange;
    
}

.input:focus::placeholder{
    color: $win;
    
}

.input:hover::placeholder{
    color: rgba($color: #ffff, $alpha: 1);
    transition: 1s;
}

.input:focus{
    transform: scale(1.01);
    transition: 0.5s;
    border-bottom-color: $orange;
}


.CredHead{
    font-size: 2em;
    font-family: karla;
    color: $vit;
    text-transform: uppercase;
    margin-bottom: 3vw;

}

.submit1 , .submit2{
    background: transparent;
    padding: 15px;
    border: 2px solid $vit;
    font-family: karla;
    font-size: 1vw;
    color: $vit;
    transition: .5s;
    cursor: pointer;
    outline: none;
}

.submit1:hover , .submit2:hover{
    color:$orange;
    border: 2px solid $orange;
    transition: .5s;
}

.submit1{
    margin-right: 3vw;
}
//-------------------------------------------------------------------------------//

@media only screen and (max-width: 900px) {
.input{
    font-size: 15px;
}

.submit1, .submit2{
    font-size: 12px;
    padding: 10px;
}

.Credwrap{
    padding-left: 50px;
    padding-right: 50px;
}

.CredHead{
    font-size: 20px;
}

}

@media only screen and (max-width: 670px) {
    .input{
        font-size: 12px;
    }
    
    .submit1, .submit2{
        font-size: 12px;
        padding: 12px;
        margin-top: 10px;
    }
    
    .Credwrap{
        margin-right: 3vw;
        margin-left: 3vw;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 100px;
}

}

@media only screen and (max-width: 390px){
    .input{
        font-size: 12px;
    }
    
    .submit1, .submit2{
        font-size: 10px;
        padding: 10px;
        margin-top: 10px;
    }
    
    .Credwrap{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}
}
//-------------------------------------------------------------------------------//