
$primary-color: black;
$primary-font-color: rgb(223, 223, 223);
$primary-window-color: rgba($color: #000000, $alpha: 0.75);


$vit: #EDF5E1;
$bla: #05386B;
$Lgron: #8ee4af;
$gron: #5CDB85;
$Mgron: #379683;


$primary-score-font: lemon;

@font-face{
    font-family: karla;
    src: url(../../Karla/Karla-Regular.ttf);
}
@font-face{
    font-family: karla-b;
    src: url(../../Karla/Karla-Bold.ttf);
}
@font-face{
  font-family: lemon;
  src: url(../../Karla/GoboldR.otf);
}



#movie-info{
    margin-top: 50px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: $bla;
    max-width: 130vw;
    margin-left: 14vw;
    margin-right: 14vw;
    border-radius: 10px;
    color: $primary-font-color;
    padding-bottom: 10px;
    position: absolute;
}

img{
    height: 40px;
    width: auto;
    padding: 3px;
}

.MovieImg{
    float:left;
    padding: 0;
    height: 400px;
    width: 270px;
    border: solid $vit 5px;
    border-radius: 15px;
    margin-right: 30px;
    
}

.title{
    padding-top: 23px;
    padding-bottom: 25px;
    text-align: left;
    font-family: $primary-score-font;
    text-transform: lowercase;
    color: $vit;
    margin-bottom: 0;
    font-size: 3em;
}

h3{
    padding-top: 5px;
    margin-left: 300px;
    font-size: 18px;
    text-align: left;
    font-family: karla-b;
}

article p:first-of-type{
    text-align: left;
    
}



.scores{
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 150px;
    grid-template-rows: 100px;
    align-items: center;    
    justify-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 15px;
}

.bgBox{
    background-color: $gron;
    height: 400px;
    width: 150vw;
    margin-top: 0px;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
}

.mgBox{
    background-color: $Mgron;
    height: 200px;
    width: 150vw;
    margin-top: 0px;
    position: absolute;
    z-index: -1;
    
}

.bbgBox{
    left: -100vw;
    margin-top: 110vw;
    background-color: $gron;
    height: 400px;
    width: 400vw;
    position: absolute;
    z-index: -1;
    transform: rotate(45deg);
}

.mmgBox{
    background-color: $Mgron;
    height: 200px;
    width: 200vw;
    margin-top: 0px;
    position: absolute;
    z-index: -1;
}



.point{
    font-size: 40px;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 40px;
    text-align: right;
    font-family: $primary-score-font;
    border-bottom: solid $vit 2px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

}

.pointimg{
    grid-column-start: 1;
    grid-column-end: 1;
}


li{
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 50px;
    
}


.finalScoreContainer{
    margin-top: 100px;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: $bla;
    max-width: 130vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;
    margin-bottom: 300px;
}

.finalScore{
    background-color: $vit;
    font-size: 60px;
    padding: 40px;
    text-align: right;
    font-family: $primary-score-font;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $bla;
    margin-left: 10vw;
    margin-right: 10vw;
    transform: skew(-15deg, -15deg);
   
}

.TFS{
    border-left: solid 4px $vit;
    border-right: solid 4px $vit;
}

.Value{
   font-size: 100px;
   border-left: solid 4px $vit;
    border-right: solid 4px $vit;
}


.synopsis{
    margin-right: 75px;
    font-family: karla;
    font-size: 16px;
}

.skewbox{
    background-color: $gron;
    z-index: -1;
    transform: skew(15deg, 15deg);
    height: 300px;
}

.AddMovie{
    float: right;
    background: transparent;
    border: none;
    outline: none;
    font-family: $primary-score-font;
    color: $vit;
    font-size: 50px;
    transition: .5s;
    cursor: pointer;
}

.AddWrap:hover .AddMovie{
transform: rotate(180deg);
transition: .5s;
}

.AddText{
    float: left;
    font-size: 20px;
    position: absolute;
    transition: .5s;
    font-family: karla;
    display: none;
    right: 0;
    top: 20px;
    cursor: default;
}

.AddWrap{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right:20px;
    z-index: 2;
    transition: .5s;
}
.AddWrap:hover .AddText{
    transition: .5s;
    display: block;
    width: 150px;
    height: 0;
}






@media only screen and (max-width: 1600px) {

    li{
        margin-right: 1%;
    }

    .Value{
        font-size: 75px;
    }

    .TFS{
        font-size: 50px;
    }

    .scores{
        grid-template-columns: 75px;
        grid-template-rows: 50px;
        align-items: center;    
      justify-items: center;
    }

    .point{
        font-size: 30px;
    }

    .pointimg{
        height: 25px;
        width: auto;
        margin-top: 15px;
    }



  }

  @media only screen and (max-width: 1220px) {
.scores{
    margin-left: 10px;
    margin-right: 10px;
}

  }

  @media only screen and (max-width: 1150px) {
    .scores{
        margin-top: 50px;
        grid-template-columns: 60px;
        grid-template-rows: 35px;
        align-items: center;    
      justify-items: center;
    }

    .pointimg{
        height: 20px;
        width: auto;
    }

    .ratingElements li{
        margin-left:0px;
        margin-top: 0px;
    }

    ul li:first-of-type{
        margin-left: 30px;
    }

    .point{
        font-size: 26px;
    }

    img{
        margin-top: 10px;
        width: 50px;
        height: auto;
    }

    .Value{
        font-size: 50px;
    }

    .TFS{
        font-size: 25px;
    }

    @media only screen and (max-width: 900px){

        .MovieImg{
            width: 40%;
            height: auto;
            border: solid $vit 2px;
        }
        

        h3{
            margin-left: 10px;
        }

        .finalScore{
            margin-left: 5vw;
            margin-right: 5vw;
        }

    }

    @media only screen and (max-width: 750px){

        .MovieImg{
            display: block;
            margin: 0 auto;
            margin-left: 25%;
            margin-right: 110px;
            margin-bottom: 30px;
        }

        .synopsis{
            font-size: 12px;
            margin-left: 10px;
        }

        li{
            margin-top: 20px;
        }

        .title{
            font-size: 20px;
        }


        .finalScore{
            padding-right: 20px ;
            padding-left: 20px;
            margin-left: 1vw;
            margin-right: 1vw;
        }

        .scores{
            margin-left: 10px;
            margin-right: 10px;
        }
    }



    @media only screen and (max-width: 575px){


        .synopsis{
            margin-right: 10px;
        }

        .point{
            font-size: 16px;
            text-align:center ;
        }

        img{
            width: 40px;
            margin-top: 0;
        }

        ul li:first-of-type {
            margin-left: 0 !important; 
        }

        ul li{
            margin: 0 !important;
        }

        

    @media only screen and (max-width: 500px){
        .scores{
            
            grid-template-rows: 25px;
            align-items: center;    
          justify-items: center;
        }

        .point{
            font-size: 14px;
        }

        img{
            width: 20px;
            height: auto;
        }

    
    }

    
    }


    @media only screen and (max-width: 355px){
        .point{
            font-size: 16px;
            text-align:center ;
        }

        img{
            width: 40px;
            margin-top: 0;
        }


     .finalScore{
         margin-left: 10px;
         margin-right: 10px;
     }

     .scores{
        margin-left: 3px;
        margin-right: 3px;
     }


 }

}